@{
    ViewBag.Title = "About";
    Layout = "~/Views/theme/DefaultTheme.cshtml";
}

<section class="main-container col1-layout home-content-container">
<div class="container">
   

<div style="float:right">
    sol
</div>
<h2>Hakkımızda</h2>
    <h4>Giris</h4>
   <p>Sirket hakkıdnda paragraf</p>
    <h4>Vizyon</h4>
    <p>Sirket hakkıdnda paragraf</p>
    <p>Sirket hakkıdnda paragraf</p>
    <h4>Misyon</h4>
    <p>Sirket hakkıdnda paragraf</p>
    <p>Sirket hakkıdnda paragraf</p>
</div>
    </section>